{% load static%}
<!DOCTYPE html>
<html>
	<head>
		<!-- Basic Page Info -->
		<meta charset="utf-8" />
		<title>Salud Pública </title>

		<!-- Site favicon -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="{% static 'vendors/images/apple-touch-icon.png' %}"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="{% static 'vendors/images/favicon-32x32.png' %}"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="{% static 'vendors/images/favicon-16x16.png' %}"
		/>

		<!-- Mobile Specific Metas -->
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1"
		/>

		<!-- Google Font -->
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/core.css' %}" />
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'vendors/styles/icon-font.min.css' %}"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'src/plugins/jquery-steps/jquery.steps.css' %}"
		/>
		<link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/style.css' %}" />
		

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"
		></script>
		<script
			async
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2973766580778258"
			crossorigin="anonymous"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-GBZ3SGGX85");
		</script>
		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-NXZMQSS");
		</script>
		<!-- End Google Tag Manager -->
	</head>
	<body>
		<div class="pre-loader">
			<div class="pre-loader-box">
				<div class="loader-logo">
					<img src="{% static 'vendors/images/deskapp-logo.svg' %}" alt="" />
				</div>
				<div class="loader-progress" id="progress_div">
					<div class="bar" id="bar1"></div>
				</div>
				<div class="percent" id="percent1">0%</div>
				<div class="loading-text">Cargando...</div>
			</div>
		</div>

		<div class="header">
			<div class="header-left">
				<div class="menu-icon bi bi-list"></div>
				<div
					class="search-toggle-icon bi bi-search"
					data-toggle="header_search"
				></div>
				
			</div>
			<div class="header-right">
				<div class="dashboard-setting user-notification">
					<div class="dropdown">
						<a
							class="dropdown-toggle no-arrow"
							href="javascript:;"
							data-toggle="right-sidebar"
						>
							<i class="dw dw-settings2"></i>
						</a>
					</div>
				</div>
				
				<div class="user-info-dropdown">
					<div class="dropdown">
						<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
							<span class="user-icon">
								<img src="{% static 'vendors/images/o.png' %}" alt="" />
							</span>
							<span class="user-name">{{ user.username }}</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
							<a class="dropdown-item" href="{% url 'logout' %}"><i class="dw dw-logout"></i> Salir</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>

		<div class="right-sidebar">
			<div class="sidebar-title">
				<h3 class="weight-600 font-16 text-blue">
					Configuración
					<span class="btn-block font-weight-400 font-12"
						>Interfaz</span
					>
				</h3>
				<div class="close-sidebar" data-toggle="right-sidebar-close">
					<i class="icon-copy ion-close-round"></i>
				</div>
			</div>
			<div class="right-sidebar-body customscroll">
				<div class="right-sidebar-body-content">
					<h4 class="weight-600 font-18 pb-10">Barra Horizontal</h4>
					<div class="sidebar-btn-group pb-30 mb-10">
						<a
							href="javascript:void(0);"
							class="btn btn-outline-primary header-white active"
							>Claro</a
						>
						<a
							href="javascript:void(0);"
							class="btn btn-outline-primary header-dark"
							>Oscuro</a
						>
					</div>

					<h4 class="weight-600 font-18 pb-10">Barra Vertical</h4>
					<div class="sidebar-btn-group pb-30 mb-10">
						<a
							href="javascript:void(0);"
							class="btn btn-outline-primary sidebar-light"
							>Claro</a
						>
						<a
							href="javascript:void(0);"
							class="btn btn-outline-primary sidebar-dark active"
							>Oscuro</a
						>
					</div>

					

					<div class="reset-options pt-30 text-center">
						<button class="btn btn-danger" id="reset-settings">
							Restablecer Configuración
						</button>
					</div>
				</div>
			</div>
			
		</div>

		<div class="left-side-bar">
			<div class="brand-logo">
				<a href="index.html">
					<img src="{% static 'vendors/images/deskapp-logo.svg' %}" alt="" class="dark-logo" />
					<img
						src="{% static 'vendors/images/deskapp-logo-white.svg' %}"
						alt=""
						class="light-logo"
					/>
				</a>
				<div class="close-sidebar" data-toggle="left-sidebar-close">
					<i class="ion-close-round"></i>
				</div>
			</div>
			
		</div>
		<div class="mobile-menu-overlay"></div>

		
		

		<div class="main-container">
			<div class="pd-ltr-20 xs-pd-20-10">
				

					<div class="pd-20 card-box mb-30">
						
						<div class="wizard-content">
			
							<form class="tab-wizard wizard-circle wizard" method="POST">
								{% csrf_token %}
								
							{% if messages %}
								<div class="alert-container">
									{% for message in messages %}
										<div class="alert alert-{{ message.tags }}">
											{{ message }}
										</div>
									{% endfor %}
								</div>
							{% endif %}
								<section>
									<input type="hidden" name="id_hospital" value="{{ hospital.id_hospital }}">
									<div class="row">
										
										<div class="col-md-6">
											<div class="form-group">
												<label>Lote :</label>
												<input type="text" class="form-control" required name="lote" />
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Id insumo :</label>
												<div class="col-sm-14">
													<div class="form-group">	
													    {{ form.id_insumo }}
													</div>
												</div>
												
											</div>
										</div>
									</div>
									<div class="row">
										
										<div class="col-md-6">
											<div class="form-group">
												<label>Cantidad entrada :</label>
												<input type="number" class="form-control" required name="cantidad_entrada"/>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Fecha de vencimiento :</label>
												<input
													type="date"
													class="form-control "
													placeholder="Selecciona la fecha "
													required name="fecha_vencimiento"
												/>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Fecha de entrada:</label>
												<input
													type="date"
													class="form-control "
													placeholder="Selecciona la fecha"
													required name="fecha_entrada"
												/>
											</div>
										</div>
										
									</div>
								</section>
								<div class="row">
									<div class="col-sm-12">
										<div class="input-group mb-0">
											
											
											<button class="btn btn-primary btn-lg btn-block" type="submit" >Agregar</button>
											<a href="{% url 'detalles_inventario_hospital' id_hospital=hospital.id_hospital %}" class="btn btn-secondary btn-lg btn-block">Volver</a>
											
										</div>
										
										
									</div>
								</div>
								
							</form>
						</div>
					</div>
		<div class="footer-wrap pd-20 mb-20 card-box">
					Ministerio de Salud Pública  de la Provincia de Sancti Spiritus 
					
				</div>
		<!-- welcome modal end -->
		<!-- js -->
		<script src="{% static 'vendors/scripts/core.js' %}"></script>
		<script src="{% static 'vendors/scripts/script.min.js' %}"></script>
		<script src="{% static 'vendors/scripts/process.js' %}"></script>
		<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
		<script src="{% static 'src/plugins/jquery-steps/jquery.steps.js' %}"></script>
		<script src="{% static 'vendors/scripts/steps-setting.js' %}"></script>
		
	</body>
</html>
