{% extends 'home.html' %}

{% block body %}
    <h1>Inventarios por Hospital</h1>
    
    <form method="POST"  action="{% url 'inventario_por_hospital' %}">
        {% csrf_token %}
        <label for="hospital_id">Selecciona un hospital:</label>
        <select name="hospital_id" id="hospital_id">
            <option value="">Selecciona un hospital</option>
            {% for hospital in hospitales %}
                <option value="{{ hospital.id_hospital }}">{{ hospital.nombre_hospital }}</option>
            {% endfor %}
        </select>
        <button type="submit">Ver Inventarios</button>
    </form>
    
   
{% endblock body %}